name: Build and deploy Node.js app to Azure Web App - lexcorp-app

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  NODE_ENV: production
  MONGO_URI: ${{ secrets.MONGO_URI }}
  SESSION_SECRET: ${{ secrets.SESSION_SECRET }}

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: Change to Lexcorp5 directory and install dependencies
        run: |
          cd Lexcorp5
          npm install
      
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: Lexcorp5

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_D4A54520B60D45F9858B2D0E32D391CC }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_921F29324A3D4FC3AE91A447A73561AB }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_A3F35CC362554882987624146C4E498D }}

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: 'lexcorp-app'
          slot-name: 'Production'
          package: .
